    @import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
    .menu {
        background-color: white;
        box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        width: 100%;
        height: 75px;
        padding: 8px;
        display: flex;
        justify-content: space-between;
        font-family: "ArialMT";
    }
    
    .menu__right {
        display: flex;
        align-items: center;
        height: 100%;
    }
    
    .menu__list {
        list-style-type: none;
        padding-right: 130px;
        height: 100%;
        width: 100%;
        margin: 0;
    }
    
    .menu__list-item {
        display: inline-block;
        height: 100%;
        margin-right: 15px;
    }
    
    .menu__list-item:last-child {
        margin-right: 0;
    }
    
    .menu__link {
        color: #3a3e47;
        display: inline-block;
        height: 100%;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        transform: translateY(-3px);
    }
    
    .menu__link:hover {
        color: #ffaa3b;
        border-top: 4px solid #42413f;
        transform: translateY(-5px);
    }
    
    .menu__link--active {
        font-weight: 300;
    }
    
    .menu__logo {
        display: inline-block;
        height: 69px;
        width: 70px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 0 0 150px;
        text-align: center;
        align-items: center;
    }
    
    .logo {
        color: white;
        margin-top: 13px;
        font-weight: 450;
    }
    
    .logo2 {
        font-weight: 450;
        margin-right: 350px;
        padding-right: 100px;
    }
    
    .social-container {
        background: #2a2b2c;
        padding: 10px 80px;
    }
    
    a.social {
        margin: 0 0.2rem;
        transition: transform 250ms;
        display: inline-block;
    }
    
    a.social:hover {
        transform: translateY(-2px);
    }
    
    a.facebook {
        color: #3a69ae;
    }
    
    a.twitter {
        color: #49a1eb;
    }
    
    a.dribble {
        color: #e24f78;
    }
    
    a.vimeo {
        color: #14beee;
    }
    
    a.mail {
        color: #26cdfc;
    }
    
    a.login {
        color: white;
        float: right;
        margin-right: 10px;
        position: relative;
        bottom: 2px;
        margin: 0 8px;
        cursor: pointer;
    }
    
    .cart {
        display: flex;
        background-color: #cb3333;
        color: white;
        border: none;
        padding: 15px 32px;
        float: right;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-right: 70px;
        justify-content: space-around;
        align-items: center;
        border: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0 8px 8px -2px gray;
        outline: none;
        cursor: pointer;
    }
    
    .btn {
        background-color: #1e1e20;
        color: white;
        border-radius: 20px;
        padding: 15px;
        width: 120px;
        height: 45px;
        text-align: center;
        transform: translateX(55px);
    }
    
    .icon {
        margin-right: 15px;
    }
    
    .line {
        width: 100%;
        height: 20px;
        opacity: 1.5;
        margin-top: 15px;
    }